.visible-print{
    display: none;
}




 table.dataTable {
     table-layout: fixed;
     width: 100% !important;
 }
table.dataTable td{
    width: auto !important;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word!important;
    white-space: normal!important;
    padding: 0!important;
    vertical-align: middle!important;
    padding:0px 5px!important;
}
table.dataTable th{

    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word!important;
    white-space: normal!important;
    padding: 5px 0px!important;
vertical-align: middle!important;
}


.table-wrapper{

}


table.dataTable thead .sorting_asc {
    background-image: none!important;

}
table.dataTable tfoot{
    background: #0059b3;
    font-weight: bold;
    color: #fff;
}

table.dataTable tfoot tr td{
    color:#fff;
}


@media only print{
    .pagebreak {page-break-after: always;}
    table.dataTable tfoot{
        background: #0059b3;
        font-weight: bold;
        color: #fff;
    }
    .br-logo.remove-bg{
        display: block!important;
    }
    table.dataTable tfoot tr td{
        color:#fff;
    }
    .br-section-wrapper,.br-pagebody{
        width:100%!important;
        padding:0!important;
    }
    table.dataTable th, table.dataTable td {
        font-size: 10px !important;
        /*border: 1px solid #000!important;*/
        border-top: 1px solid #000!important;
        border-right: 1px solid #000!important;
        border-left: 1px solid #000!important;
        border-bottom: 1px solid #000!important;
    }
    table.dataTable th {
        background: #cecece!important;

    }
    .hidden-print{
        display: none;
    }
    .br-header,.border-menu,.breadcrumbee ,form,.dataTables_length,.dataTables_filter,.hidden-print,.dataTables_info,.dataTables_paginate {
        display:none;
    }

    table{
        /*width: 595px !important;*/
    }
    table th,table td {
        color: #000!important;
        font-size: 12px!important;
        background-image: none!important;
    }

    .visible-print{
        display: block;
    }
}
